#navigation_bar,
#portada_texto,
#invitacion_fiesta,
#carrousel_fotos,
#regalos,
#firmas,
#map,
#footer {
  .h1 {
    @extend .titulos1;
    text-align: center;
    margin: auto;
    max-width: 70%;
  }
  .h2 {
    @extend .titulos2;
    text-align: center;
    margin: auto;
    max-width: 70%;
  }
  .h3 {
    @extend .titulos3;
    text-align: center;
    margin: auto;
    max-width: 70%;
  }

  .h4 {
    @extend .titulos4;
    text-align: center;
    margin: auto;
    max-width: 70%;
  }

  .textos {
    padding-top: 1%;
  }
}

#navigation_bar {
  .navigation_bar {
    display: flex;
    background-color: $rojo_principal;
    color: #fefefe;
    justify-content: space-around;

    .header_izq {
      .h4 {
        max-width: 100%;
      }

      a {
        text-decoration: none;
      }
    }
    .textos {
      color: #fefefe;
      font-size: 14px;
      padding: 5% 0;
    }
  }
  .nav {
    text-align: right;

    .nav-item {
      list-style: none;
      .nav-link {
        margin-top: 18px;
      }
    }
  }

  .nav-item a:hover {
    background-color: $color_hover;
    border-radius: 20%;
    height: 40px;
  }
}

#portada_foto {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url(../assets/juliprodu_horizontal.jpg);
  height: 587px;
  background-position: center center;
  background-size: cover;
  padding: 2% 0px;
}

#portada_texto {
  background-color: $fondo_gris;
  .heading {
    display: flex;
    justify-content: space-around;
    .texto_heading {
    }
  }
  .p_heading {
    padding: 5% 20%;
  }
}
#invitacion_fiesta {
  background-color: #fefefe;
}
.separador {
  .custom-shape-divider-top-1711732508 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1711732508 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 87px;
  }

  .custom-shape-divider-top-1711732508 .shape-fill {
    fill: $fondo_gris;
  }
}

.btn {
  font-family: $textos;
}

.separador_gris {
  max-width: 100%;
  background-color: #fefefe;
}
#carrousel_fotos {
  // margin-top: 85px;
  background-color: #f0f1e9;
}
.carousel-wrapper {
  width: 100%;
  max-width: 55%;
  aspect-ratio: 9/9;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  transition: transform 300ms ease-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.carousel-wrapper .btn {
  font-size: 90%;
  background: rgba(0, 0, 0, 0.7);
  color: #00c2d8;
  padding: 8px 10px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}
.carousel-wrapper .btn:hover {
  background: rgba(0, 0, 0, 1);
}

.btn.previous {
  top: 50%;
  left: 0;
}
.btn.next {
  top: 50%;
  right: 0;
}

#regalos {
  padding: 10% 0;
  #mybtn {
    margin-top: 2%;
  }
}
/* Estilos para el modal (fondo) */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $textos;
  background-color: #fefefe95;
}

/* Estilos para el contenido del modal */
.modal-content {
  border: 1px solid #888;
  box-shadow: 0px 0px 15px 10px grey;
  border: 1px solid #888;
  max-width: 30%;
  border-radius: 100px;
  padding: 2%;
  padding-top: 0;
  margin: 15% 35%;
}
.textcontent {
  background-color: #fefefe;
  font-family: $textos;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Estilos para el botón de cierre */
.close {
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#firmas {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.19)
    ),
    url(../assets/flores_Grupo02_A.png);
  padding: 2% 0px;
  background-size: 100%;
  padding-top: 7%;
  padding-bottom: 4%;
}

#map {
  margin: 3% 0;
  .mapita {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 0px;
    .derecha {
      flex-direction: column;
      display: flex;
      .foto_salon {
        max-width: 50%;
        margin: auto;
      }
    }
  }
}
#footer {
  .footer {
    display: flex;
    background-color: $rojo_principal;
    color: #fefefe;
    justify-content: space-around;

    .footer_izq {
      text-align: left;
      text-align: center;
      padding-top: 3vh;

      .h4 {
        max-width: 100%;
      }

      a {
        text-decoration: none;
      }
      .textos {
        color: #fefefe;
        font-size: 14px;
      }
    }
    .footer_der {
      text-align: right;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #fefefe;
        }

        a:hover {
          color: black;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #navigation_bar,
  #portada_texto,
  #invitacion_fiesta,
  #carrousel_fotos,
  #regalos,
  #firmas,
  #map,
  #footer {
    .h1 {
      font-size: 85px;
    }
    .h2 {
      font-size: 40px;
    }
    .h3 {
    }

    .h4 {
    }

    .textos {
    }
  }
  // header
  #navigation_bar .navigation_bar {
    justify-content: center;

    .nav .nav-item {
      display: none;
    }
  }

  // portada
  .heading {
    img {
      width: 32%;
      height: 14%;
    }
  }

  #carrousel_fotos {
    overflow: hidden, scroll;
    .carousel {
      height: 45vh;
      width: 100vw;
      .carousel__viewport {
        left: -190px;
      }
    }
  }
  #myModal {
    .modal-content {
      flex-direction: row;
      flex-direction: row;
      max-width: 80%;
      margin: auto;
      margin-top: 40%;
    }
  }
  #map {
    margin: 3% 0px;
    .mapita .derecha .foto_salon {
      max-width: 75%;
    }
  }
}
