.titulos1 {
  font-family: $Titulos;
  font-size: 120px;
  color: $rojo_principal;
  text-align: center;
  margin: auto;
  max-width: 50%;
}

.titulos2 {
  font-family: $Titulos;
  font-size: 60px;
  margin: auto;
  color: $rojo_principal;
  text-align: center;
  margin: auto;
  max-width: 50%;
}

.titulos3 {
  font-family: $Titulos;
  font-size: 50px;
  margin: auto;
  color: $rojo_principal;
  text-align: center;
  margin: auto;
  max-width: 50%;
}

.titulos4 {
  font-family: $Titulos;
  font-size: 50px;
  margin: auto;
  color: #fefefe;
  text-align: center;
  margin: auto;
  max-width: 50%;
}

.textos {
  font-family: $textos;
  font-size: 20px;
  margin: auto;
  color: $color_texto;
  text-align: center;
  margin: auto;
  max-width: 75%;
}

